$mainblue: #080E2F;

* {
    background-color: $mainblue;
    color: white;
    body {
        .container {
            height: 100vh;
            display: flex;
            gap: 5vw;
            justify-content: center;
            align-items: center;
            .bigcircle {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid white;
                width: 33vw;
                height: 33vw;
                border-radius: 50%;
                .icons {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    font-size: 1vw;
                    // background-color: yellow;
                    .iconone {
                        display: flex;
                        align-items: center;
                        font-family: 'Courier New', Courier, monospace;
                        margin: -10vh 0 0 3vw;
                        // font-size: 1vw;
                        #html {
                            width: 3vw;
                            height: 3vw;
                        }
                    }
                    .icontwo {
                        display: flex;
                        align-items: center;
                        gap: .5vw;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1vw;
                        margin: 2vh 0 0 0vw;
                        #figma {
                            width: 2.3vw;
                            height: 2.3vw;
                        }
                    }
                    .iconthree {
                        display: flex;
                        align-items: center;
                        // gap: 1vw;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1vw;
                        margin: 2vh 0 0 -2.5vw;
                        #reactjs {
                            width: 3vw;
                            height: 3vw;
                        }
                    }
                    .iconfour {
                        display: flex;
                        align-items: center;
                        gap: .5vw;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1vw;
                        margin: 0 0 0 .3vw;
                        #sass {
                            width: 2.3vw;
                            height: 2.3vw;
                        }
                    }
                    .iconfive {
                        display: flex;
                        align-items: center;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1vw;
                        #css {
                            width: 3vw;
                            height: 3vw;
                        }
                    }
                    .iconsix {
                        display: flex;
                        align-items: center;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1vw;
                        #react-native {
                            width: 3vw;
                            height: 3vw;
                        }
                    }  
                }
                .littlecircle {
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 1vw;
                    border: 3px solid white;
                    width: 12vw;
                    height: 12vw;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    position: static;
                }
            }


            // SECOND CIRCLE
            .bigcircletwo {
                display: flex;
                justify-content: center;
                gap: 3vh;
                align-items: center;
                border: 2px solid white;
                width: 33vw;
                height: 33vw;
                border-radius: 50%;
                .littlecircletwo {
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 1vw;
                    border: 3px solid white;
                    width: 15vw;
                    height: 15vw;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    position: static;
                    margin: 0 0 0 -5vw;
                    .technologies {
                        // background-color: yellow;
                        width: 65%;
                        line-height: 1;
                    }
                }
                .iconstwo {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    margin: 6vh 0 0 0;
                    // width: 0;
                    // height: 100%;
                    // background-color: yellow;
                    .iconseven {
                        display: flex;
                        align-items: center;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1vw;
                        margin: -4vh 0 0 -5vw;
                        background-color: yellowgreen;
                        width: 0vw;
                        #javascript {
                            width: 3vw;
                            height: 3vw;
                        }
                    }
                    .iconeight {
                        display: flex;
                        align-items: center;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1vw;
                        margin: 1vh 0 0 -1vw;
                        width: 0vw;
                        #python {
                            width: 2.8vw;
                            height: 2.8vw;
                        }
                    }
                    .iconnine {
                        display: flex;
                        align-items: center;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1vw;
                        margin: 3vh 0 0 1vw;
                        width: 0vw;
                        #nodejs {
                            width: 2.5vw;
                            height: 2.5vw;
                        }
                    }
                    .iconten {
                        display: flex;
                        align-items: center;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1vw;
                        margin: 4vh 0 0 1vw;
                        width: 0vw;
                        #mongo {
                            width: 2.5vw;
                            height: 2.5vw;
                        }
                    }
                    .iconeleven {
                        display: flex;
                        align-items: center;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1vw;
                        margin: 4vh 0 0 -1vw;
                        // background-color: rebeccapurple;
                        width: 0vw;
                        #firebase {
                            width: 3vw;
                            height: 3vw;
                        }
                    }
                    .icontwelve {
                        display: flex;
                        align-items: center;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1vw;
                        margin: 2vh 0 0 -4.5vw;
                        width: 0vw;
                        // background-color: rebeccapurple;
                        #heroku {
                            width: 2.3vw;
                            height: 2.3vw;
                        }
                    }
                }
            }
        }
    }
}